<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/banan/style.css">
  <title>All the books</title>
</head>

<body>
  <p><%console.log(rows[0])%></p>
  <table>
    <thead>
      <tr>
        <td>Title</td>
        <td>Url</td>
        <td>First Name</td>
        <td>Last Name</td>
      </tr>
    </thead>
    <tbody>
      <%rows.forEach(v=>{%>
        <tr>
          <td><%=v.title%></td>
          <td><%=v.url%></td>
          <td><%=v.firstName%></td>
          <td><%=v.lastName%></td>
        </tr>
      <%})%>
    </tbody>
  </table>
</body>

</html>